.backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .hover\:rotate-y-180:hover {
    transform: rotateY(180deg);
  }
  